<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head') %>

    <body class="container">
        <%- include('../partials/header', { pagina: 'About' }) %>
            <main>
                <div class="jumbotron">
                    <h1>About</h1>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br />
                        Distinctio accusantium cum ipsam nobis porro voluptas totam ea<br />
                        quae fugiat, veritatis excepturi veniam praesentium?<br />
                        Illo ipsum quasi asperiores quas est sequi?<br />
                    </p>
                </div>
            </main>
            <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
    </body>

</html>